
body {
    display: flex;
    flex-direction: column;
}

/* Section 1 */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;

}

.links {
    display: flex;
    gap: 20px;
}

.lower-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.header-description {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.header-description-title {
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
    margin: 0px;
}

.header-description-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #F9FAF8;

}


/* Section 2 */


.content-header {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.piece {
    text-align: center;
    width: 250px;
}


.subject-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.subject {
    font-size: 28px;
    font-weight: 400px;
    font-style: italic;
}




/* Section 3 */

.quote-body{
    background-color: #E5E7EB;
display: flex;
flex-flow: column wrap;
justify-content: center;    
height: 500px;
}


.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 1000px;
    margin: auto;
    text-align: center;

}

.author{
    font-weight :900;
    text-align: end;
    font-size: 25px;
    padding-right: 40px;
        padding-bottom: 10px;

}

/* General */

button {
    border-radius: 25px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 160px;
    border-color: transparent;
    cursor: grabbing;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

img {
    border-radius: 10px;
    width: 250px;
    height: 140px;
}

.thumbnail {
    border-radius: 25px;
    min-width: 400px;
    min-height: 185px;
    margin-right: 40px;
}