/* Section 1 */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 30px;
    gap: 200px;
}

.links {
    display: flex;
    gap: 60px;
}

.lower-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.header-description {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    gap: 25px;
}

.header-description-title {
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
    margin: 0px;
}

.header-description-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #F9FAF8;
    width:500px;

}


/* Section 2 */


.content-header {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.piece {
    text-align: center;
    width: 250px;
    padding-bottom: 25px;
}


.subject-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.subject {
    font-size: 28px;
    font-weight: 400px;
    font-style: italic;
}




/* Section 3 */

.quote-body {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 400px;
}


.quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    margin: auto;
    width: 1000px;

    text-align: center;

}

.author {
    font-weight: 900;
    text-align: end;
    font-size: 25px;
    padding-right: 40px;
    padding-bottom: 10px;

}


/* Section 4 */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.action-content {
    width: 1100px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.action-header {
    font-weight: 900;
    margin: 5px;
    font-size: 24px;
}


.action-body {
    margin: 0px;
}

.action-button {
    border: 2px solid #eee;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    align-self: center;
}

/* Section 5 */


.footer {
    background-color: #1F2937;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* General */






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content,
.quote-body,
.action {
    padding-top: 100px;
    padding-bottom: 100px;
}

.header {
    padding-bottom: 100px;

}

.footer {
    padding-top: 30px;
}


button {
    border-radius: 25px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 120px;
    height: 50px;
    border-color: transparent;
    cursor: grabbing;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

img {
    border-radius: 10px;
    width: 250px;
    height: 140px;
}

.thumbnail {
    border-radius: 25px;
    min-width: 400px;
    min-height: 185px;
    margin-right: 40px;
}